.DS_Store
/Cache/
/Index/
/Local/
/Backup/
/Projects/
/Packages/User/Package Control.*
/Packages/User/Package Control
/Packages/User/oscrypto-ca-bundle.crt
node_modules/
/Installed Packages/
/Packages/*
!/Packages/User/